<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HocXuLyFile_RenluyenTextFile/src/communityuni/com/test/TestKhachHang.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="communityuni.com.test.TestKhachHang"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HocXuLyFile_RenluyenTextFile"/>
</launchConfiguration>
