<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HocDaTienTrinh_Runnable/src/communityuni/com/test/TestMyThread.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="communityuni.com.test.TestMyThread"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HocDaTienTrinh_Runnable"/>
</launchConfiguration>
